.my-btn {
  display: inline-block;
  padding: 2rem 5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: $font-familyPrime;
  color: $asphalt;
  background-color: $white;
  text-align: center;
  width: auto;
  font-weight: bold;
  transition: all .2s linear;
  border-radius: 5rem;

  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.my-btn-prime-outline {
   border: 2px solid $gold;
   color: $darkGray;
   background: transparent;
   text-align: center;

   &:focus,
   &:hover {
     background-color: $white;
     color: $sun;
   }
 }

.my-btn-prime {
  border: 3px solid $white;
  color: $cream;
  background: transparent;
  text-align: center;

  &:focus,
  &:hover {
    background-color: $white;
    color: $sun;

  }
}
.my-btn-large {
  padding: 2.5rem 6rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.my-btn-small {
  padding: .8rem 1.5rem;
  border: 2px solid $gold;
  text-transform: none;
  font-size: 0.8rem;
  &:focus,
  &:hover {
    cursor: pointer;
    background-color: $white;
    color: $bloodyRed;
  }
}

.my-btn-small-outline {
  padding: 0.5rem 0.5rem;
  border: 2px solid $gold;
  color: $darkGray;
  background: transparent;
  font-size: 0.9rem;
  text-align: center;

  &:focus,
  &:hover {
    background-color: $white;
    color: $sun;
  }
}


