@import "class";
@import "typography";
@import "variable";

// --------------------------------------------------
// Layout
// --------------------------------------------------
$xs:320px;
$x:	480px;
$s:	768px;
$m:	1024px;
$l:	1280px;
// Layout rules
// -------------------------

.container {
	 width: 100%;
	 max-width: $mainContainer;
	 padding: $containerVerIndent $containerHorIndent;
	 margin: auto;
 }
*, *::after, *::before {
  box-sizing: border-box;
}



