$white: #ffffff;
$white-darken: #fafafa;
$main-color: #262626;
$main-green: #43A322;
$main-grey: #bcbcbc;
$main-grey-darken: #818181;
$title-color: $main-color;
$text-color: #949494;
$sec-grey: #56585f;
