$white: #ffffff;
$white-darken: #fafafa;
$main-color: #2c2e37;
$main-blue: #03a9f4;
$main-blue-darken: #2795c2;
$gradient-blue: linear-gradient(to right, #00b4db, #0083b0);
$main-green: #43A322;
$main-grey: #bcbcbc;
$main-grey-darken: #818181;
$title-color: $main-color;
$text-color: #949494;
$sec-grey: #56585f;
